body {
  padding-top: 90px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  background-color: #f7f7f7;
}

.navbar {
    min-height: 50px;
}

.navbar-default {
    background-color: #eee;
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
    height: 100%;
    font-size: 25pt;
    font-weight: 300;
    color: #777777;
}

.navbar-default .navbar-nav>li>a {
	height: 80px;
    line-height: 54px;
}

.nav-drop .btn-default {
    color: #333;
    background-color: #eee;
    border: 0;    
    color: #222;
    margin-left: -8px;
    font-weight: 700;
    font-size: 25pt;
    vertical-align: inherit;
    line-height: inherit;
    padding: 0;
}

.open.nav-drop .btn-default, .open.nav-drop .btn-default:focus {
    color: #333;
    background-color: #eee;
}

.nav-drop .btn-default:hover {
    color: #333;
    background-color: #eee;
}

.open > .nav-drop .btn-default:focus {
    color: #333;
    background-color: #eee;
}

#masthead-input {
    font-weight: 700;
    color: #222;
    margin: -8px 0 0 -6px;
    padding: 0;
    font-size: 25pt;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #777777;
    width: initial;
    text-transform: uppercase;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #e7e7e7;
  color: #777;
}
