{% load static %}

<!doctype html>
<html>
  <head>
    <title>{% block title %}Simmons DB{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" href="{% static 'css/simmons.css' %}" type="text/css" />  
  </head>
  <body>
    <div class="titlebar">
      <table width="100%">
        <tr>
          <td>
            <h1>{% block pagetitle %}Welcome to the Simmons DB{% endblock %}</h1>
          </td>
          <td style="text-align:right">
            Current Login: {{ request.user.username }}
          </td>
        </tr>
      </table>
    </div>
    <div class="pageBody">
      <table>
        <tr>
          <td style="vertical-align:top">
            <ul class="navbar">
              <li>SIMMONS DB
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'directory' %}">Directory</a></li>
                </ul>
              </li>
            </ul>
          </td>
          <td style="vertical-align:top;width:100%">
{% block content %}
{% endblock %}
          </td>
        </tr>
      </table>
    </div>
    <div class="footer">
      <hr />
      <a href="{% url 'about' %}">Simmons DB</a>
    </div>
  </body>
</html>
