{% load static %}

<!doctype html>
<html>
  <head>
    <title>{% block title %}Simmons DB{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" href="{% static 'css/simmons.css' %}" type="text/css" />  
  </head>
  <body>
    <div class="titlebar">
      <table width="100%">
        <tr>
          <td>
            <h1>{% block pagetitle %}Welcome to the Simmons DB{% endblock %}</h1>
          </td>
          <td style="text-align:right">
            Current Login: {{ request.user.username }}
          </td>
        </tr>
      </table>
    </div>
    <div class="pageBody">
      <table>
        <tr>
          <td style="vertical-align:top">
            <ul class="navbar">
              <li>SIMMONS DB
                <ul>
                  <li><a href='https://simmons.mit.edu/sds/home.php'>Home</a></li>
                  <li><a href='https://simmons.mit.edu/sds/directory/'>Directory</a></li>
                  <li><a href='https://simmons.mit.edu/sds/directory/officers.php'>Student Officers</a></li>
                  <li><a href='https://simmons.mit.edu/sds/directory/medlinks.php'>Medlinks</a></li>
                  <li><a href='https://simmons.mit.edu/sds/directory/grt.php'>GRTs</a></li>
                  <li><a href='https://simmons.mit.edu/sds/groups/view_mailing_lists.php'>Mailing Lists</a></li>
                </ul>
              </li>
              <li>GOVTRACKER
                <ul>
                  <li><a href='https://simmons.mit.edu/sds/loungeexpense/index.php'>Lounge Expenses</a></li>
                  <li><a href='https://simmons.mit.edu/sds/loungeexpense/proposals.php'>Lounge Event Proposals</a></li>
                  <li><a href='https://simmons.mit.edu/sds/govtracker/fin-ledger.php'>House Finances</a></li>
                  <li><a href='https://simmons.mit.edu/sds/govtracker/index.php'>House Meetings</a></li>
                  <li><a href='https://simmons.mit.edu/sds/govtracker/submitproposal.php'>Submit a Proposal</a></li>
                </ul>
              </li>
              <li>PERSONAL INFO
                <ul>
                  <li><a href='https://simmons.mit.edu/sds/directory/update.php'>My Profile</a></li>
                  <li><a href='https://simmons.mit.edu/sds/users/guestlist.php'>Guest List</a></li>
                  <li><a href='https://simmons.mit.edu/sds/users/loungesignup.php'>Lounge Membership</a></li>
                </ul>
              </li>
              <li>PACKAGES
                <ul>
                  <li><a href='https://simmons.mit.edu/sds/packages/mypackages.php'>My Waiting Packages</a></li>
                  <li><a href='https://simmons.mit.edu/sds/packages/checkin.php'>Package Registration</a></li>
                  <li><a href='https://simmons.mit.edu/sds/packages/pickup.php'>Package Pickup</a></li>
                  <li><a href='https://simmons.mit.edu/sds/packages/viewpackages.php'>All Waiting Packages</a></li>
                </ul>
              </li>
              <li>MOVIES
                <ul>
                  <li><a href='https://simmons.mit.edu/sds/simmovies/list.php'>List Desk Movies</a></li>
                  <li><a href='https://simmons.mit.edu/sds/simmovies/myloans.php'>My Loans</a></li>
                  <li><a href='https://simmons.mit.edu/sds/simmovies/checkin.php'>Movie Check In</a></li>
                </ul>
              </li>
              <li>ADMINISTRATORS
                <ul>
                  <li><a href='https://simmons.mit.edu/sds/administrators/'>ACL Control Panel</a></li>
                  <li><a href='https://simmons.mit.edu/sds/administrators/sudo.php'>Be Another User</a></li>
                  <li><a href='https://simmons.mit.edu/sds/administrators/options.php'>Simmons DB Options</a></li>
                  <li><a href='https://simmons.mit.edu/sds/sds/updateGroupMembershipCache.php'>Refresh Group Cache</a></li>
                  <li><a href='https://simmons.mit.edu/sds/groups/refresh_mailing_lists.php'>Refresh Mailing Lists</a></li>
                  <li><a href='https://simmons.mit.edu/phpPgAdmin/'>phpPgAdmin</a></li>
                </ul>
              </li>
              <li>DESK
                <ul>
                  <li><a href='https://simmons.mit.edu/sds/desk/full_directory.php'>Full Directory Listing</a></li>
                  <li><a href='https://simmons.mit.edu/sds/desk/guestlist.php'>Search Guest List</a></li>
                </ul>
              </li>
              <li>ROOMING
                <ul>
                  <li><a href='https://simmons.mit.edu/sds/rac/add.php'>Add Directory Entry</a></li>
                  <li><a href='https://simmons.mit.edu/sds/rac/use_directory.php'>Modify/Remove Entry</a></li>
                  <li><a href='https://simmons.mit.edu/sds/rac/csv.php'>Download Directory (csv)</a></li>
                  <li><a href='https://simmons.mit.edu/sds/rac/batchupdate.php'>Batch Update (csv)</a></li>
                  <li><a href='https://simmons.mit.edu/sds/rac/clearrooms.php'>Clear Rooms</a></li>
                  <li><a href='https://simmons.mit.edu/sds/rac/lottery.php'>Rooming Lottery</a></li>
                  <li><a href='https://simmons.mit.edu/sds/rac/roomstatus.php'>Room Status Summary</a></li>
                  <li><a href='https://simmons.mit.edu/sds/rac/roomhistory.php'>Room History</a></li>
                </ul>
              </li>
            </ul>
          </td>
          <td style="vertical-align:top;width:100%">
{% block content %}
{% endblock %}
          </td>
        </tr>
      </table>
    </div>
    <div class="footer">
      <hr />
      <a href="https://simmons.mit.edu/sds//users/about.php">Simmons DB</a>
      : dramage, 2002; with bonawitz, dheera, psaindon
      <!-- v1.0 written by dramage, 2002 --><br />
      <span style="font-size: smaller">
        PHP 5.1.6;
        PostgreSQL 8.3.5;
        dbname: sdb
      </span>
    </div>
  </body>
</html>
